<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Македонска Берза</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>МАКЕДОНСКА БЕРЗА</h1>
</header>
<section>
    <div class="card">
        <h2>1</h2>
        <p>Историски податоци</p>
        <p>Историски податоци за цените на акциите и обемот на тргување</p>
    </div>
    <div class="card">
        <h2>2</h2>
        <p>Процена</p>
        <p>Процена на компаниите преку преглед на нивните финансиски податоци</p>
    </div>
    <div class="card">
        <h2>3</h2>
        <p>Предвидување</p>
        <p>Предвидување на идните цени на акциите</p>
    </div>
</section>
</body>
</html>
